body {
  background: grey;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  background: black;
  display: none;
  margin: 1em;
}

.imgHidden {
  display: none;
}
